<html>
    <head>
        <title> {% block title %} {% endblock %} </title>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <header class = 'header'>
            <div class = 'title'>
                Catalog
            </div>
            {% block header %}
            {% endblock %}
        </header>
        <section class = 'container'>
            <article class="content">
                {% block content %}
                {% endblock %}
            </article>
        </section>
    </body>
</html>